{% extends "layouts/app.twig" %}
{% block head %}
    {{ parent() }}
    <style>
body { 
  background: url(../images/photos/404_error.webp) no-repeat center center; 
  background-size: cover;
  height: 100%;
  overflow: hidden;
  margin-top: 55rem;
}

    </style>
{% endblock %}
    {% block content %}
    <div>
        <p class="pt-10">{{error}}</p>
    </div>
    {% endblock %}
