@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Pinyon+Script&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#logo {
    font-family: 'Pinyon Script', cursive;
    font-size: 4rem;
    font-weight: 400;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(253, 252, 252); 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(177, 176, 176); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3f3b3b; 
  }